.container {
  width: 100%;
  max-width: 1265px;
  margin: 0 auto;
  padding: 0 30px;

  // @include viewport--lg {
  //   padding: 0 30px;
  // }

  @include viewport--md {
    padding: 0 20px;
  }

  @include viewport--sm {
    padding: 0 10px;
  }

  &--no-padding {
    @include viewport--sm {
      padding: 0;
    }
  }
}
